@use "../../lib/bulma/sass/utilities/mixins" as *;

.breakpointdebug{
	height: 5px;
	width: 100%;
	@include mobile{
		background-color: green;
	}
	@include tablet{
		background-color: red;
	}
	@include desktop{
		background-color: blue;
	}
}

#backToTop{
	position:fixed;
	z-index: 99;
	display:block;
	right:5.5rem;
	bottom:1rem;
}