.woocommerce {
  ul.products {
    margin: 0 0;
    padding: 0 0;
    list-style:none;
    li.product{
      margin: 0 0;
      padding: 0 0;
    }
  }
  .woocommerce-loop-product__link {
    .card{
      aspect-ratio: 1;
    }
    .card-image {
      height: 10rem;

      overflow: hidden;
      position: relative;
  
      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%; // ✅ Add this line
        transition: transform 0.3s ease;
      }
  
      img:hover {
        transform: scale(1.05);
      }
    }
  
    a {
      &:hover {
        .card-content {
          h4:first-of-type {
            text-decoration: underline !important;
          }
        }
      }
    }

    .added_to_cart {
      display: none;
    }

    .onsale {
      transform: rotateZ(-10deg) translate(-1rem, -1rem);
      color: white;
      top: 0.75rem;
      left: 0.75rem;
      z-index: 2;
      margin:0 0;
      padding: 0 0;
    }
  }

  // Parent container
  .woocommerce-product-gallery {
    display: flex;
    flex-direction: row-reverse; // Main image on the right, thumbs on the left
    gap: 1rem; // space between thumbs and image
  }

  // Main image wrapper
  .woocommerce-product-gallery__wrapper {
    flex: 1;
  }

  // Thumbnail container
  .flex-control-nav.flex-control-thumbs {
    margin:0 0;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 50px;
    flex-shrink: 0;
    list-style: none;
    li {
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        cursor:pointer;
      }
    }
  }

}