@use "bulma/sass/utilities/mixins" as *;

$embla-arrow-mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xNjIuODMsMjA1LjE3YTQsNCwwLDAsMS01LjY2LDUuNjZsLTgwLTgwYTQsNCwwLDAsMSwwLTUuNjZsODAtODBhNCw0LDAsMSwxLDUuNjYsNS42Nkw4NS42NiwxMjhaIj48L3BhdGg+PC9zdmc+');

.embla {
    position: relative;
    overflow: hidden;

    &__viewport {
        width: 100%;
        overflow: hidden;
    }

    &__container {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
    }

    // 1 slide par défaut (mobile)
    &__slide {
        flex: 0 0 100%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    // helper : 1 mobile / 2 tablet / X desktop
    @mixin embla-per-view($desktop-count) {

        // mobile = 1 → on écrase si besoin
        @include mobile {
            .embla__slide {
                flex: 0 0 33%;
            }
        }

        @include desktop {
            .embla__slide {
                flex: 0 0 calc(100% / $desktop-count);
            }
        }
    }

    // .embla.embla--2-per-view
    &.embla--2-per-view {
        @include embla-per-view(2);
    }

    // .embla.embla--3-per-view
    &.embla--3-per-view {
        @include embla-per-view(3);
    }

    // .embla.embla--4-per-view
    &.embla--4-per-view {
        @include embla-per-view(4);
    }




    // ====== dots ======
    &__dots {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transform: translateY(-1rem);
        z-index: 5;
    }

    &__dot {
        width: 1rem;
        height: 1rem;
        margin: 0.5rem;
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        touch-action: manipulation;
        text-decoration: none;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid var(--bulma-primary);
        background-color: #fff;

        &.is-active {
            background-color: var(--bulma-primary-70);
        }
    }

    // ====== arrows ======
    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 0;
        padding: 0;
        width: 5rem;
        height: 5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.75);
        background-position: center;
        background-size: cover;
        cursor: pointer;
        z-index: 1;
        mask: $embla-arrow-mask;
        mask-size: contain;
        mask-repeat: no-repeat;

        &--prev {
            left: 0.5rem;
        }

        &--next {
            right: 0.5rem;
            transform: translateY(-50%) scale(-1);
        }

        @include mobile {
            display: none;
        }
    }
}