
@use "bulma/sass/utilities/mixins" as *;

.headerslide {
  .embla__slide {
    background-size: cover;
    background-position: center;
  }

  .embla-slide-wrapper {
    max-width: 960px;
    padding: 2rem 0rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
  }

  .slider-image img {
    width: 100%;
    height: 10rem;
    object-fit: contain;
  }

  .image-content {
    flex: 0 0 auto;
  }

  .text-content {
    font-size: 0.8rem;
    max-width: 500px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
    padding: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4901960784);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
  }

  @include touch{
    .silder-title{
        font-size:0.5rem !important;
    }
    .text-content{
        font-size: 0.7rem;
    }
    .embla-slide-wrapper {
      flex-direction: column;
      text-align: center;
    }

    .slider-image img {
      height: 10vh;
      width: auto;
    }

    .text-content {
      max-width: 100%;
    }

  }
}