.wp-block-group{
    padding-bottom: 2rem;
}

.entry-header{
    text-align: center;
}

h2.wp-block-heading{
    margin-bottom: 1rem;
}

.wp-block-buttons{
    .button a{
        color:inherit;
    }
}
