// Fix broken bulma columns on mobile
body {
      margin: 0;
      overflow-x: hidden;
      padding-top: var(--nav-h, 0);
}

.site {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}

main {
      flex: 1;
}


.container{
	max-width:1250px;
}


#wpadminbar{
      z-index: 999999;
}