@use "colors";
@use "size";
@use "breakpoints";
@use "typography";
@use "extensions";
@use "navbar";
@use "footer";

$custom-colors: (
  "secondary": (colors.$secondary )
);

// Set every initial vars + add a custom secondary one
@forward "bulma/sass/utilities/initial-variables" with ($grey-dark: colors.$grey-dark,
  $grey-light: colors.$grey-light,
  $size-1: size.$size-1,
  $size-2: size.$size-2,
  $size-3: size.$size-3,
  $size-4: size.$size-4,
  $size-5: size.$size-5,
  $size-6: size.$size-6,
  $gap: breakpoints.$gap,

  $tablet: breakpoints.$tablet,
  $desktop: breakpoints.$desktop,
  $widescreen: breakpoints.$widescreen,
  $fullhd: breakpoints.$fullhd,
  $widescreen-enabled: breakpoints.$widescreen-enabled,
  $fullhd-enabled: breakpoints.$fullhd-enabled,
);

@forward "bulma/sass/utilities/derived-variables" with ($custom-colors: $custom-colors,
  $primary: colors.$primary,
  $link: colors.$link,

  $text-strong: typography.$text-strong,
  $family-primary: typography.$family-primary);
  
// Remove anything unused
@forward "bulma/sass/base";
@forward "bulma/sass/components/breadcrumb";
@forward "bulma/sass/components/card";
@forward "bulma/sass/components/dropdown";
@forward "bulma/sass/components/menu";
@forward "bulma/sass/components/message";
@forward "bulma/sass/components/modal";
@forward "bulma/sass/components/navbar" with (
  $navbar-breakpoint: breakpoints.$navbar,
);
@forward "bulma/sass/components/pagination";
@forward "bulma/sass/components/panel";
@forward "bulma/sass/components/tabs";

@forward "bulma/sass/elements";
@forward "bulma/sass/form" with (
  $label-color: typography.$label-color,
);
@forward "bulma/sass/grid";
@forward "bulma/sass/helpers";
@forward "bulma/sass/layout/container";
@forward "bulma/sass/layout/footer" with(
  $footer-padding: footer.$padding,
);
@forward "bulma/sass/layout/hero";
@forward "bulma/sass/layout/level";
@forward "bulma/sass/layout/media";
@forward "bulma/sass/layout/section" with (
  $section-padding-medium: size.$section-padding-medium,
  $section-padding-large: size.$section-padding-large
  );

// Light + Dark Theme
//@forward "bulma/sass/themes";

// Light Theme Only
@use "bulma/sass/themes/light";
@use "bulma/sass/themes/setup";

:root {
  @include light.light-theme;
  @include setup.setup-theme;
  --bulma-tablet: #{breakpoints.$tablet};
  --bulma-desktop: #{breakpoints.$desktop};
}

.navbar {
  --bulma-navbar-background-color: #{navbar.$background-color};
  --bulma-navbar-box-shadow-size: #{navbar.$box-shadow-size};
  --bulma-navbar-box-shadow-color: #{navbar.$box-shadow-color};
  --bulma-navbar-height: #{navbar.$height};
  --bulma-navbar-padding-vertical: #{navbar.$padding-vertical};
  --bulma-navbar-padding-horizontal: #{navbar.$padding-horizontal};
  --bulma-navbar-z: #{navbar.$z};
  --bulma-navbar-fixed-z: #{navbar.$fixed-z};
  --bulma-navbar-item-img-max-height: #{navbar.$item-img-max-height};
  --bulma-navbar-burger-color: #{navbar.$burger-color};
  --bulma-navbar-tab-hover-background-color: #{navbar.$tab-hover-background-color};
  --bulma-navbar-tab-hover-border-bottom-color: #{navbar.$tab-hover-border-bottom-color};
  --bulma-navbar-tab-active-color: #{navbar.$tab-active-color};
  --bulma-navbar-tab-active-background-color: #{navbar.$tab-active-background-color};
  --bulma-navbar-tab-active-border-bottom-color: #{navbar.$tab-active-border-bottom-color};
  --bulma-navbar-tab-active-border-bottom-style: #{navbar.$tab-active-border-bottom-style};
  --bulma-navbar-tab-active-border-bottom-width: #{navbar.$tab-active-border-bottom-width};
  --bulma-navbar-dropdown-background-color: #{navbar.$dropdown-background-color};
  --bulma-navbar-dropdown-border-l: #{navbar.$dropdown-border-l};
  --bulma-navbar-dropdown-border-color: #{navbar.$dropdown-border-color};
  --bulma-navbar-dropdown-border-style: #{navbar.$dropdown-border-style};
  --bulma-navbar-dropdown-border-width: #{navbar.$dropdown-border-width};
  --bulma-navbar-dropdown-offset: #{navbar.$dropdown-offset};
  --bulma-navbar-dropdown-arrow: #{navbar.$dropdown-arrow};
  --bulma-navbar-dropdown-radius: #{navbar.$dropdown-radius};
  --bulma-navbar-dropdown-z: #{navbar.$dropdown-z};
  --bulma-navbar-dropdown-boxed-radius: #{navbar.$dropdown-boxed-radius};
  --bulma-navbar-dropdown-boxed-shadow: #{navbar.$dropdown-boxed-shadow};
  --bulma-navbar-divider-background-l: #{navbar.$divider-background-l};
  --bulma-navbar-divider-height: #{navbar.$divider-height};
  --bulma-navbar-bottom-box-shadow-size: #{navbar.$bottom-box-shadow-size};

  .navbar-item.is-tab:hover {
    border-bottom: #{navbar.$tab-hover-border-bottom-width} #{navbar.$tab-hover-border-bottom-style} #{navbar.$tab-hover-border-bottom-color};
  }

  .navbar-item.is-tab.is-active:hover {
    border-bottom: #{navbar.$tab-active-border-bottom-width} #{navbar.$tab-active-border-bottom-style} #{navbar.$tab-active-border-bottom-color};
  }

}