$gap: 32px;
$tablet: 700px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

$widescreen-enabled: false;
$fullhd-enabled: false;
$navbar: $desktop;