$primary: #d8002b;
$secondary: #296795;
$link: #af1c39;

$text: #aab1bf;

$info: #5972bd;
$success: #6fbd69;
$warning: #c6cd5b;
$danger: #ad6767;

$grey-dark: #252525;
$grey-light: #c4c4c4;
$grey-lighter: #e9e9e9;