$size-1: 1.8rem;
$size-2: 1.575rem;
$size-3: 1.35rem;
$size-4: 1.125rem;
$size-5: 1.0125rem;
$size-6: 0.9rem;

$size-normal: 1rem;  
$size-small: 0.875rem; 
$size-large: 1.25rem;

$section-padding-medium: 7rem 4.5rem;
$section-padding-large: 14rem 6rem;