@use "bulma-cfg" as *;

// Boutons
.editor-post-title{
    font-size: var(--bulma-size-1);
}
.wp-block-button .wp-block-button__link {
    @extend .button;
}

.is-style-outline .wp-block-button__link {
    @extend .is-outlined
}

// Colonnes
.wp-block-columns {
    @extend .columns;
}

.wp-block-column {
    @extend .column;
}

// Citations
.wp-block-quote {
    @extend .message;
    @extend .message-body;
    font-style: italic;
}

// Titres
.wp-block-heading {
    @extend .title;
}

// Paragraphes
.wp-block-paragraph {
    @extend .content;
}

// Listes
.wp-block-list {
    @extend .content;
    list-style: disc inside;
}

// Images
.wp-block-image {
    margin: 1rem 0;

    img {
        max-width: 100%;
        height: auto;
    }
}

// Séparateur
.wp-block-separator {

    height: 1px;
    background-color: $grey-light;
    margin: 2rem 0;
}

// Tableaux
.wp-block-table {
    @extend .table;
    @extend .is-bordered;
    @extend .is-striped;
    @extend .is-fullwidth;
}

// Alignements
.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    text-align: center;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

// Espacement (facultatif)
.wp-block-spacer {
    height: 2rem;
}

// Code
.wp-block-code {
    @extend .box;
    font-family: monospace;
    background-color: $light;
    padding: 1rem;
}