@use "bulma/sass/utilities/mixins";


/* Off-canvas behavior for mobile */
#woo-filters {
position: relative; /* desktop */
}


@include mixins.touch {
#woo-filters {
position: fixed;
top: 0;
left: -110%;
width: 100vw;
height: 100vh;
background: #fff;
z-index: 40;
overflow-y: auto;
padding: 1rem;
box-shadow: -0.25rem 0 1rem rgba(10,10,10,0.1);
transition: left .25s ease;
z-index: 50;
}
#woo-filters.is-open { left: 0; }
}


/* Loading state */
#woo-products .woo-products-inner.is-loading { opacity: .5; pointer-events: none; }


/* Make pagination look like Bulma */
.pagination-list li > * { margin: 0 .25rem; }