@use "../../lib/bulma/sass/utilities/mixins" as *;
//@use "../bulma/sass/utilities/css-variables" as *;

@mixin column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: var(--bulma-column-gap);
}

@mixin columns {
  margin-left: var(--bulma-column-gap);
  margin-right: var(--bulma-column-gap);
  margin-top: var(--bulma-column-gap);

  &:last-child {
    margin-bottom: var(--bulma-column-gap);
  }

  &:not(:last-child) {
    margin-bottom: calc(1.5rem - #{var(--bulma-column-gap)});
  }

  @include tablet {
    &:not(.is-desktop) {
      display: flex;
    }
  }
}

@mixin gapless {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  & > div {
    margin: 0;
    padding: 0;
  }

  &:not(:last-child) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include tablet {
    &:not(.is-desktop) {
      display: flex;
    }
  }
}

@mixin is-multiline {
  flex-wrap: wrap;
}
